Repository recursive-rat4/blacknet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gcc-test, openjdk-scan, openjdk-test

gcc-test:
  image: gcc:14.2.0@sha256:561e2a4b76c441215d26625fbf2d5e345da60ef22b7d46e6ab45d1d53d95c43e
  stage: test
  before_script:
  - apt-get update && apt-get -y install libboost-dev libboost-random-dev libboost-test-dev
  script:
  - cd crypto/src/main/cplusplus
  - make ci-test
  artifacts:
    reports:
      junit:
  ...

openjdk-scan:
  image: maven:3.9.9-eclipse-temurin-21@sha256:5a44dff9390bff393693518d70233977ff245c2876320655a47be5622719becf
  variables:
    MAVEN: mvn --batch-mode --no-transfer-progress
    MAVEN_OPTS: -Dmaven.repo.local=.m2/repository
  cache:
    paths:
    - .m2/repository
  stage: scan
  script:
  ...

openjdk-test:
  image: maven:3.9.9-eclipse-temurin-21@sha256:5a44dff9390bff393693518d70233977ff245c2876320655a47be5622719becf
  variables:
    MAVEN: mvn --batch-mode --no-transfer-progress
    MAVEN_OPTS: -Dmaven.repo.local=.m2/repository
  cache:
    paths:
    - .m2/repository
  stage: test
  script:
  - $MAVEN test
  artifacts:
  ...

crypto: circuit Lagrange basis
  crypto/src/main/cplusplus/eqextension.h
  crypto/src/main/cplusplus/eqextensiontest.cpp
Due: gcc-test

crypto: circuit mle
  crypto/src/main/cplusplus/multilinearextension.h
  crypto/src/main/cplusplus/multilinearextensiontest.cpp
Due: gcc-test

crypto: refactor bits
  crypto/src/main/cplusplus/abeliangroup.h
  crypto/src/main/cplusplus/bitint.h
  crypto/src/main/cplusplus/dilithiumring.h
  crypto/src/main/cplusplus/fermat.h
  crypto/src/main/cplusplus/integerring.h
  crypto/src/main/cplusplus/pastacurves.h
  crypto/src/main/cplusplus/pervushin.h
  crypto/src/main/cplusplus/polynomialring.h
  crypto/src/main/cplusplus/primefield.h
  crypto/src/main/cplusplus/ringproduct.h
  crypto/src/main/cplusplus/rings.sage
  crypto/src/main/cplusplus/semigroup.h
  crypto/src/main/cplusplus/solinas62.h
Due: gcc-test

crypto: invert in extenstion field
  crypto/src/main/cplusplus/extensionfieldbenchmark.cpp
  crypto/src/main/cplusplus/pervushinfield.h
  crypto/src/main/cplusplus/pervushintest.cpp
  crypto/src/main/cplusplus/polynomialring.h
  crypto/src/main/cplusplus/solinas62field.h
  crypto/src/main/cplusplus/solinas62test.cpp
Due: gcc-test

crypto: refactor early stopping sum-check
  crypto/src/main/cplusplus/sumcheck.h
  crypto/src/main/cplusplus/sumchecktest.cpp
  crypto/src/main/cplusplus/sumfoldbenchmark.cpp
Due: gcc-test

dependencies: update serialization
  kernel/pom.xml
  pom.xml
Due: openjdk-scan, openjdk-test

dependencies: update atomicfu
  pom.xml
Due: openjdk-scan, openjdk-test

ci: update image
  .gitlab-ci.yml
Due: none

dependencies: update maven-artifact-plugin
  pom.xml
Due: openjdk-scan, openjdk-test

crypto: implement Hamming weight
  crypto/src/main/cplusplus/bfv.h
  crypto/src/main/cplusplus/polynomialring.h
Due: gcc-test

dependencies: update bouncycastle
  pom.xml
Due: openjdk-scan, openjdk-test

crypto: replace encryption
  crypto/src/main/cplusplus/blacklemon.h
  crypto/src/main/cplusplus/blacklemontest.cpp
  crypto/src/main/cplusplus/fermat.h
  crypto/src/main/cplusplus/lpr.h
  crypto/src/main/cplusplus/lwemongrass.h
  crypto/src/main/cplusplus/rings.sage
Due: gcc-test

crypto: fix benchmark
  crypto/src/main/cplusplus/poseidon2benchmark.cpp
Due: gcc-test

build: use meson for cplusplus
  .gitignore
  .gitlab-ci.yml
  crypto/src/main/cplusplus/bigint.h
  crypto/src/main/cplusplus/meson.build
  crypto/src/main/cplusplus/meson_options.txt
  crypto/src/main/cplusplus/test.cpp
  crypto/src/main/cplusplus/weierstrassgroupaffine.h
  crypto/src/main/cplusplus/weierstrassgroupjacobian.h
  crypto/src/main/cplusplus/weierstrassgroupprojective.h
Due: gcc-test

build: check for c++ language extensions
  crypto/src/main/cplusplus/meson.build
Due: none

dependencies: update kotlin
  pom.xml
Due: openjdk-scan, openjdk-test

crypto: implement bfv secret-key mode
  crypto/src/main/cplusplus/bfv.h
  crypto/src/main/cplusplus/bfvtest.cpp
Due: gcc-test

fix typo
  crypto/src/main/cplusplus/bfvtest.cpp
Due: gcc-test

crypto: implement FV.SH.Mul0
  crypto/src/main/cplusplus/bfv.h
  crypto/src/main/cplusplus/bfvtest.cpp
Due: gcc-test

crypto: refactor
  crypto/src/main/cplusplus/bfv.h
Due: gcc-test

cplusplus: use attributes
  crypto/src/main/cplusplus/ccsbuilder.h
Due: gcc-test

dependencies: specify c++ versions
  crypto/src/benchmark/cplusplus/meson.build
  crypto/src/main/cplusplus/meson.build
  crypto/src/test/cplusplus/meson.build
Due: none

crypto: refactor prime field
  crypto/src/main/cplusplus/primefield.h
  crypto/src/main/cplusplus/weierstrassgroupjacobian.h
  crypto/src/main/cplusplus/weierstrassgroupprojective.h
  crypto/src/test/cplusplus/pastacurves.cpp
Due: gcc-test

crypto: refactor includes
  crypto/src/main/cplusplus/ccsbuilder.h
  crypto/src/test/cplusplus/eqextension.cpp
  crypto/src/test/cplusplus/multilinearextension.cpp
  crypto/src/test/cplusplus/poseidon2.cpp
  crypto/src/test/cplusplus/powextension.cpp
  crypto/src/test/cplusplus/sponge.cpp
  crypto/src/test/cplusplus/univariatepolynomial.cpp
Due: gcc-test

crypto: relax r1cs
  crypto/src/main/cplusplus/r1cs.h
  crypto/src/test/cplusplus/r1cs.cpp
Due: gcc-test

crypto: refactor cyclotomic ring
  crypto/src/main/cplusplus/dilithium.h
  crypto/src/main/cplusplus/dilithiumring.h
  crypto/src/main/cplusplus/fermat.h
  crypto/src/main/cplusplus/integerring.h
  crypto/src/main/cplusplus/latticefold.h
  crypto/src/main/cplusplus/numbertheoretictransform.h
  crypto/src/main/cplusplus/pervushin.h
  crypto/src/main/cplusplus/rings.sage
  crypto/src/main/cplusplus/solinas62.h
Due: gcc-test

dependencies: update kotlin logging
  pom.xml
Due: openjdk-scan, openjdk-test

build: up meson
  .gitlab-ci.yml
  crypto/meson.build
  meson.build
  meson.options
Due: none

crypto: randomize relaxed r1cs
  crypto/src/main/cplusplus/r1cs.h
  crypto/src/main/cplusplus/vector.h
  crypto/src/test/cplusplus/r1cs.cpp
Due: gcc-test

dependencies: update ktor
  pom.xml
Due: openjdk-scan, openjdk-test

crypto: initialize sponge
  crypto/src/benchmark/cplusplus/latticefold.cpp
  crypto/src/benchmark/cplusplus/sumfold.cpp
  crypto/src/main/cplusplus/poseidon2pasta.h
  crypto/src/main/cplusplus/poseidon2pervushin.h
  crypto/src/main/cplusplus/poseidon2solinas62.h
  crypto/src/main/cplusplus/sponge.h
  crypto/src/test/cplusplus/ajtaicommitment.cpp
  crypto/src/test/cplusplus/pedersencommitment.cpp
  crypto/src/test/cplusplus/sponge.cpp
  crypto/src/test/cplusplus/sumcheck.cpp
Due: gcc-test

crypto: optimize ccs builder
  crypto/src/main/cplusplus/ccsbuilder.h
  crypto/src/main/cplusplus/matrixsparse.h
Due: gcc-test

network: fix exception
  kernel/src/main/kotlin/ninja/blacknet/network/Connection.kt
Due: openjdk-test

vm: create new subdirectory
  crypto/src/benchmark/cplusplus/meson.build
  crypto/src/main/cplusplus/meson.build
  crypto/src/test/cplusplus/meson.build
  vm/meson.build
  vm/src/main/cplusplus/meson.build
  vm/src/main/cplusplus/vm.cpp
  vm/src/meson.build
  vm/src/test/cplusplus/meson.build
  vm/src/test/cplusplus/test.cpp
Due: gcc-test

dependencies: update maven-clean-plugin
  pom.xml
Due: openjdk-scan, openjdk-test

build: refactor cplusplus dependencies
  crypto/src/benchmark/cplusplus/meson.build
  crypto/src/main/cplusplus/meson.build
  crypto/src/test/cplusplus/meson.build
  meson.build
  vm/src/test/cplusplus/meson.build
Due: none

crypto: implement jive
  crypto/src/benchmark/cplusplus/latticefold.cpp
  crypto/src/benchmark/cplusplus/poseidon2.cpp
  crypto/src/benchmark/cplusplus/sumfold.cpp
  crypto/src/main/cplusplus/jive.h
  crypto/src/main/cplusplus/poseidon2pasta.h
  crypto/src/main/cplusplus/poseidon2pervushin.h
  crypto/src/main/cplusplus/poseidon2solinas62.h
  crypto/src/main/cplusplus/sponge.h
  crypto/src/test/cplusplus/ajtaicommitment.cpp
  crypto/src/test/cplusplus/jive.cpp
  crypto/src/test/cplusplus/meson.build
  crypto/src/test/cplusplus/pedersencommitment.cpp
  crypto/src/test/cplusplus/poseidon2.cpp
  crypto/src/test/cplusplus/sponge.cpp
  crypto/src/test/cplusplus/sumcheck.cpp
Due: gcc-test

crypto: fix integer ring
  crypto/src/main/cplusplus/dilithiumring.h
  crypto/src/main/cplusplus/fermat.h
  crypto/src/main/cplusplus/integerring.h
  crypto/src/main/cplusplus/pervushin.h
  crypto/src/main/cplusplus/rings.sage
  crypto/src/main/cplusplus/solinas62.h
Due: gcc-test

crypto: optimize septendecic circuit
  crypto/src/main/cplusplus/poseidon2.h
  crypto/src/test/cplusplus/poseidon2.cpp
Due: gcc-test

Path conditions:
  gcc-test: any of: **/Makefile, **/*.h, **/*.cpp
  openjdk-scan: any of: pom.xml, **/pom.xml
  openjdk-test: any of: pom.xml, **/pom.xml, **/*.java, **/*.kt
