Repository recursive-rat4/blacknet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gcc-test, openjdk-scan, openjdk-test

gcc-test:
  image: gcc:14.2.0@sha256:561e2a4b76c441215d26625fbf2d5e345da60ef22b7d46e6ab45d1d53d95c43e
  stage: test
  before_script:
  - apt-get update && apt-get -y install libboost-dev libboost-random-dev libboost-test-dev
  script:
  - cd crypto/src/main/cplusplus
  - make ci-test
  artifacts:
    reports:
      junit:
  ...

openjdk-scan:
  image: maven:3.9.9-eclipse-temurin-21@sha256:5a44dff9390bff393693518d70233977ff245c2876320655a47be5622719becf
  variables:
    MAVEN: mvn --batch-mode --no-transfer-progress
    MAVEN_OPTS: -Dmaven.repo.local=.m2/repository
  cache:
    paths:
    - .m2/repository
  stage: scan
  script:
  ...

openjdk-test:
  image: maven:3.9.9-eclipse-temurin-21@sha256:5a44dff9390bff393693518d70233977ff245c2876320655a47be5622719becf
  variables:
    MAVEN: mvn --batch-mode --no-transfer-progress
    MAVEN_OPTS: -Dmaven.repo.local=.m2/repository
  cache:
    paths:
    - .m2/repository
  stage: test
  script:
  - $MAVEN test
  artifacts:
  ...

dependencies: update kotlin
  pom.xml
Due: openjdk-scan, openjdk-test

wallet: evaluate sqlite
  wallet/src/main/cplusplus/sqlite.h
  wallet/src/test/cplusplus/sqlite.cpp
Due: gcc-test

wallet: bind sqlite
  wallet/src/main/cplusplus/sqlite.h
  wallet/src/test/cplusplus/sqlite.cpp
Due: gcc-test

wallet: check magic
  wallet/src/main/cplusplus/sqlite.h
  wallet/src/main/cplusplus/wallet.h
  wallet/src/test/cplusplus/meson.build
  wallet/src/test/cplusplus/wallet.cpp
Due: gcc-test

crypto: byte
  crypto/src/main/cplusplus/byte.h
  crypto/src/test/cplusplus/byte.cpp
  crypto/src/test/cplusplus/meson.build
Due: gcc-test

crypto: implement chacha20
  crypto/src/main/cplusplus/byte.h
  crypto/src/main/cplusplus/chacha20.h
  crypto/src/test/cplusplus/chacha20.cpp
  crypto/src/test/cplusplus/meson.build
Due: gcc-test

wallet: table transactions
  crypto/src/main/cplusplus/util.h
  wallet/src/main/cplusplus/sqlite.h
  wallet/src/main/cplusplus/wallet.h
  wallet/src/test/cplusplus/sqlite.cpp
  wallet/src/test/cplusplus/wallet.cpp
Due: gcc-test

fix build
  crypto/src/main/cplusplus/util.h
Due: gcc-test

dependencies: update guava
  pom.xml
Due: openjdk-scan, openjdk-test

build: add config
  meson.build
  vm/src/main/cplusplus/meson.build
  vm/src/main/cplusplus/vm.cpp
Due: gcc-test

dependencies: update ktor
  pom.xml
Due: openjdk-scan, openjdk-test

build: disable tests for regular builds
  .gitlab-ci.yml
  meson.options
Due: none

wallet: use SQLITE_PREPARE_PERSISTENT
  wallet/src/main/cplusplus/sqlite.h
  wallet/src/main/cplusplus/wallet.h
  wallet/src/test/cplusplus/sqlite.cpp
Due: gcc-test

dependencies: update maven-surefire-plugin
  pom.xml
Due: openjdk-scan, openjdk-test

dependencies: update kotlin logging
  pom.xml
Due: openjdk-scan, openjdk-test

dependencies: add qt
  desktop/meson.build
  desktop/src/main/cplusplus/desktop.cpp
  desktop/src/main/cplusplus/meson.build
  desktop/src/main/meson.build
  desktop/src/main/resources.qrc
  desktop/src/meson.build
  meson.build
Due: gcc-test

dependencies: update kotlin serialization
  pom.xml
Due: openjdk-scan, openjdk-test

crypto: add sponge modes
  crypto/src/main/cplusplus/poseidon2pasta.h
  crypto/src/main/cplusplus/poseidon2pervushin.h
  crypto/src/main/cplusplus/poseidon2solinas62.h
  crypto/src/main/cplusplus/sponge.h
  crypto/src/test/cplusplus/sponge.cpp
Due: gcc-test

ci: install qt
  .gitlab-ci.yml
Due: none

ci: update image
  .gitlab-ci.yml
Due: none

dependencies: add fmt and spdlog
  .gitlab-ci.yml
  desktop/src/main/cplusplus/desktop.cpp
  desktop/src/main/cplusplus/historymodel.h
  logging/meson.build
  logging/src/main/cplusplus/logger.h
  logging/src/main/cplusplus/logmanager.h
  logging/src/main/cplusplus/meson.build
  logging/src/meson.build
  meson.build
  wallet/src/main/cplusplus/meson.build
  wallet/src/main/cplusplus/sqlite.h
  wallet/src/test/cplusplus/test.cpp
Due: gcc-test

cplusplus: optimize includes
  crypto/src/main/cplusplus/bigint.h
  crypto/src/main/cplusplus/fs.h
  crypto/src/main/cplusplus/integerring.h
  crypto/src/main/cplusplus/matrix.h
  crypto/src/main/cplusplus/matrixsparse.h
  crypto/src/main/cplusplus/merkletree.h
  crypto/src/main/cplusplus/module.h
  crypto/src/main/cplusplus/multilinearextension.h
  crypto/src/main/cplusplus/polynomial.h
  crypto/src/main/cplusplus/polynomialring.h
  crypto/src/main/cplusplus/primefield.h
  crypto/src/main/cplusplus/r1cs.h
  crypto/src/main/cplusplus/ringproduct.h
  crypto/src/main/cplusplus/univariatepolynomial.h
  crypto/src/main/cplusplus/vector.h
  crypto/src/main/cplusplus/weierstrassgroupaffine.h
  crypto/src/main/cplusplus/weierstrassgroupjacobian.h
  crypto/src/main/cplusplus/weierstrassgroupprojective.h
Due: gcc-test

cplusplus: default movability
  crypto/src/main/cplusplus/ccsbuilder.h
  crypto/src/main/cplusplus/customizableconstraintsystem.h
  crypto/src/main/cplusplus/hypercube.h
  crypto/src/main/cplusplus/matrix.h
  crypto/src/main/cplusplus/matrixsparse.h
  crypto/src/main/cplusplus/merkletree.h
  crypto/src/main/cplusplus/multilinearextension.h
  crypto/src/main/cplusplus/polynomial.h
  crypto/src/main/cplusplus/r1cs.h
  crypto/src/main/cplusplus/univariatepolynomial.h
  crypto/src/main/cplusplus/vector.h
  wallet/src/main/cplusplus/sqlite.h
Due: gcc-test

compat: create new subdirectory
  compat/meson.build
  compat/src/main/cplusplus/getuid.h
  compat/src/main/cplusplus/magic.h
  compat/src/main/cplusplus/meson.build
  compat/src/main/cplusplus/mkdirs.h
  compat/src/main/cplusplus/mode.h
  compat/src/main/cplusplus/uname.h
  compat/src/main/cplusplus/xdgdirectories.h
  compat/src/meson.build
  crypto/src/main/cplusplus/meson.build
  desktop/src/main/cplusplus/desktop.cpp
  log/meson.build
  log/src/main/cplusplus/logger.h
  log/src/main/cplusplus/logmanager.h
  log/src/main/cplusplus/meson.build
  log/src/meson.build
  meson.build
  wallet/src/main/cplusplus/meson.build
  wallet/src/main/cplusplus/wallet.h
Due: gcc-test

dependencies: update kotlin coroutines
  pom.xml
Due: openjdk-scan, openjdk-test

replace boost::io::ios_all_saver with fmt::print
  compat/src/main/cplusplus/byte.h
  compat/src/meson.build
  compat/src/test/cplusplus/byte.cpp
  compat/src/test/cplusplus/meson.build
  compat/src/test/cplusplus/test.cpp
  crypto/src/main/cplusplus/bigint.h
  crypto/src/main/cplusplus/bitint.h
  crypto/src/main/cplusplus/chacha20.h
  crypto/src/main/cplusplus/hypercube.h
  crypto/src/main/cplusplus/meson.build
  crypto/src/main/cplusplus/module.h
  crypto/src/main/cplusplus/polynomial.h
  crypto/src/main/cplusplus/primefield.h
  crypto/src/main/cplusplus/util.h
  crypto/src/main/cplusplus/weierstrassgroupaffine.h
  crypto/src/main/cplusplus/weierstrassgroupjacobian.h
  crypto/src/main/cplusplus/weierstrassgroupprojective.h
  crypto/src/test/cplusplus/chacha20.cpp
  crypto/src/test/cplusplus/meson.build
  meson.build
  wallet/src/test/cplusplus/wallet.cpp
Due: gcc-test

replace boost::io::make_ostream_joiner with fmt::print
  compat/src/test/cplusplus/getuid.cpp
  compat/src/test/cplusplus/meson.build
  crypto/src/main/cplusplus/integerring.h
  crypto/src/main/cplusplus/matrixsparse.h
  crypto/src/main/cplusplus/polynomialring.h
  crypto/src/main/cplusplus/util.h
Due: gcc-test

compat: random device
  .gitlab-ci.yml
  compat/src/main/cplusplus/getentropy.h
  crypto/src/benchmark/cplusplus/ajtaicommitment.cpp
  crypto/src/benchmark/cplusplus/cyclotomicring.cpp
  crypto/src/benchmark/cplusplus/extensionfield.cpp
  crypto/src/benchmark/cplusplus/integerring.cpp
  crypto/src/benchmark/cplusplus/latticefold.cpp
  crypto/src/benchmark/cplusplus/pastacurves.cpp
  crypto/src/benchmark/cplusplus/pedersencommitment.cpp
  crypto/src/benchmark/cplusplus/poseidon2.cpp
  crypto/src/benchmark/cplusplus/primefield.cpp
  crypto/src/benchmark/cplusplus/sumfold.cpp
  crypto/src/main/cplusplus/bfv.h
  crypto/src/main/cplusplus/bigint.h
  crypto/src/main/cplusplus/discretegaussiandistribution.h
  crypto/src/main/cplusplus/integerring.h
  crypto/src/main/cplusplus/latticefold.h
  crypto/src/main/cplusplus/lpr.h
  crypto/src/main/cplusplus/matrix.h
  crypto/src/main/cplusplus/meson.build
  crypto/src/main/cplusplus/module.h
  crypto/src/main/cplusplus/polynomialring.h
  crypto/src/main/cplusplus/ringproduct.h
  crypto/src/main/cplusplus/vector.h
  crypto/src/main/cplusplus/weierstrassgroupaffine.h
  crypto/src/main/cplusplus/weierstrassgroupjacobian.h
  crypto/src/main/cplusplus/weierstrassgroupprojective.h
  crypto/src/test/cplusplus/bfv.cpp
  crypto/src/test/cplusplus/blacklemon.cpp
  crypto/src/test/cplusplus/fs.cpp
  crypto/src/test/cplusplus/r1cs.cpp
  meson.build
Due: gcc-test

wallet: use mode magic
  wallet/src/main/cplusplus/wallet.h
Due: gcc-test

cplusplus: don't overload operator << in namespace std
  compat/src/main/cplusplus/boost-print.h
  compat/src/main/cplusplus/byte.h
  crypto/src/main/cplusplus/customizableconstraintsystem.h
  crypto/src/main/cplusplus/eqextension.h
  crypto/src/main/cplusplus/jive.h
  crypto/src/main/cplusplus/matrix.h
  crypto/src/main/cplusplus/matrixsparse.h
  crypto/src/main/cplusplus/merkletree.h
  crypto/src/main/cplusplus/module.h
  crypto/src/main/cplusplus/multilinearextension.h
  crypto/src/main/cplusplus/polynomialring.h
  crypto/src/main/cplusplus/univariatepolynomial.h
  crypto/src/main/cplusplus/util.h
  crypto/src/main/cplusplus/vector.h
  crypto/src/test/cplusplus/chacha20.cpp
  crypto/src/test/cplusplus/hypercube.cpp
  vm/src/main/cplusplus/cell.h
  wallet/src/test/cplusplus/wallet.cpp
Due: gcc-test

dependencies: add boost asio
  .gitlab-ci.yml
  daemon/meson.build
  daemon/src/main/cplusplus/daemon.cpp
  daemon/src/main/cplusplus/meson.build
  daemon/src/meson.build
  desktop/src/main/cplusplus/desktop.cpp
  meson.build
  meson.options
  network/meson.build
  network/src/main/cplusplus/i2psam.h
  network/src/main/cplusplus/meson.build
  network/src/main/cplusplus/node.h
  network/src/main/cplusplus/router.h
  network/src/meson.build
Due: gcc-test

crypto: fast rng
  crypto/src/benchmark/cplusplus/ajtaicommitment.cpp
  crypto/src/benchmark/cplusplus/cyclotomicring.cpp
  crypto/src/benchmark/cplusplus/extensionfield.cpp
  crypto/src/benchmark/cplusplus/integerring.cpp
  crypto/src/benchmark/cplusplus/latticefold.cpp
  crypto/src/benchmark/cplusplus/pastacurves.cpp
  crypto/src/benchmark/cplusplus/pedersencommitment.cpp
  crypto/src/benchmark/cplusplus/poseidon2.cpp
  crypto/src/benchmark/cplusplus/primefield.cpp
  crypto/src/benchmark/cplusplus/sumfold.cpp
  crypto/src/main/cplusplus/chacha.h
  crypto/src/main/cplusplus/fastrng.h
  crypto/src/test/cplusplus/bfv.cpp
  crypto/src/test/cplusplus/chacha20.cpp
  crypto/src/test/cplusplus/fastrng.cpp
  crypto/src/test/cplusplus/fs.cpp
  crypto/src/test/cplusplus/meson.build
  crypto/src/test/cplusplus/r1cs.cpp
  network/src/main/cplusplus/i2psam.h
  network/src/main/cplusplus/meson.build
Due: gcc-test

compat: fdatasync
  compat/src/main/cplusplus/fdatasync.h
  compat/src/main/cplusplus/getentropy.h
  compat/src/main/cplusplus/mode.h
  compat/src/main/cplusplus/xdgdirectories.h
  cross-mingw.txt
  crypto/src/main/cplusplus/ccsbuilder.h
  crypto/src/main/cplusplus/sumcheck.h
  meson.build
  vm/src/main/cplusplus/cell.h
  wallet/src/main/cplusplus/wallet.h
Due: gcc-test

io: add cplusplus stuff
  io/meson.build
  io/src/main/cplusplus/file.h
  io/src/main/cplusplus/meson.build
  io/src/meson.build
  meson.build
  network/src/main/cplusplus/i2psam.h
  network/src/main/cplusplus/meson.build
  network/src/test/cplusplus/i2psam.cpp
  network/src/test/cplusplus/meson.build
  network/src/test/cplusplus/test.cpp
Due: gcc-test

network: use boost::asio::thread_pool
  daemon/src/main/cplusplus/daemon.cpp
  desktop/src/main/cplusplus/desktop.cpp
  io/src/main/cplusplus/file.h
  log/src/main/cplusplus/logger.h
  log/src/main/cplusplus/logmanager.h
  network/src/main/cplusplus/i2psam.h
  network/src/main/cplusplus/node.h
  network/src/main/cplusplus/router.h
Due: gcc-test

Path conditions:
  gcc-test: any of: **/Makefile, **/*.h, **/*.cpp
  openjdk-scan: any of: pom.xml, **/pom.xml
  openjdk-test: any of: pom.xml, **/pom.xml, **/*.java, **/*.kt
