Repository recursive-rat4/blacknet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gcc-test, openjdk-scan, openjdk-test

gcc-test:
  image: gcc:14.3.0@sha256:bf543463a2a7171654faed7d899d74a286fd3706ffb424f52a2cb4dc3f696039
  stage: test
  before_script:
  - echo "deb http://deb.debian.org/debian bookworm-backports main" >> /etc/apt/sources.list
  - apt-get update
  - apt-get -t bookworm-backports -y install meson
  ...

openjdk-scan:
  image: maven:3.9.10-eclipse-temurin-21@sha256:615bd38fa00dd2416d90cbbc99895b9955400fa8110e83646e3e04ebcb7c471e
  variables:
    MAVEN: mvn --batch-mode --no-transfer-progress
    MAVEN_OPTS: -Dmaven.repo.local=.m2/repository
  cache:
    paths:
    - .m2/repository
  stage: scan
  script:
  ...

openjdk-test:
  image: maven:3.9.10-eclipse-temurin-21@sha256:615bd38fa00dd2416d90cbbc99895b9955400fa8110e83646e3e04ebcb7c471e
  variables:
    MAVEN: mvn --batch-mode --no-transfer-progress
    MAVEN_OPTS: -Dmaven.repo.local=.m2/repository
  cache:
    paths:
    - .m2/repository
  stage: test
  script:
  - $MAVEN test
  artifacts:
  ...

crypto: no std
  crypto/Cargo.toml
  crypto/src/main/rust/ajtaicommitment.rs
  crypto/src/main/rust/assigner/assigment.rs
  crypto/src/main/rust/assigner/binaryuniformdistribution.rs
  crypto/src/main/rust/assigner/eqextension.rs
  crypto/src/main/rust/assigner/logicgate.rs
  crypto/src/main/rust/assigner/sumcheck.rs
  crypto/src/main/rust/assigner/univariatepolynomial.rs
  crypto/src/main/rust/circuit/binaryuniformdistribution.rs
  crypto/src/main/rust/circuit/circuitbuilder.rs
  crypto/src/main/rust/circuit/eqextension.rs
  crypto/src/main/rust/circuit/logicgate.rs
  crypto/src/main/rust/circuit/point.rs
  crypto/src/main/rust/circuit/sumcheck.rs
  crypto/src/main/rust/circuit/univariatepolynomial.rs
  crypto/src/main/rust/customizableconstraintsystem.rs
  crypto/src/main/rust/duplex.rs
  crypto/src/main/rust/eqextension.rs
  crypto/src/main/rust/hypercube.rs
  crypto/src/main/rust/interpolation.rs
  crypto/src/main/rust/latticegadget.rs
  crypto/src/main/rust/lib.rs
  crypto/src/main/rust/matrixdense.rs
  crypto/src/main/rust/matrixsparse.rs
  crypto/src/main/rust/multilinearextension.rs
  crypto/src/main/rust/norm.rs
  crypto/src/main/rust/point.rs
  crypto/src/main/rust/ring.rs
  crypto/src/main/rust/sumcheck.rs
  crypto/src/main/rust/univariatepolynomial.rs
  crypto/src/main/rust/vectordense.rs
  crypto/src/main/rust/vectorsparse.rs
  crypto/src/test/rust/ajtaicommitment.rs
Due: none

crypto: jive
  crypto/Cargo.toml
  crypto/src/main/rust/assigner/compressionfunction.rs
  crypto/src/main/rust/assigner/jive.rs
  crypto/src/main/rust/assigner/mod.rs
  crypto/src/main/rust/circuit/compressionfunction.rs
  crypto/src/main/rust/circuit/jive.rs
  crypto/src/main/rust/compressionfunction.rs
  crypto/src/main/rust/duplex.rs
  crypto/src/main/rust/jive.rs
  crypto/src/main/rust/lib.rs
  crypto/src/main/rust/matrixring.rs
  crypto/src/test/rust/jive.rs
Due: none

dependencies: update transitive
  Cargo.lock
Due: none

vm: add rust
  Cargo.lock
  Cargo.toml
  meson.build
  vm/Cargo.toml
  vm/meson.build
  vm/src/main/cplusplus/cell.h
  vm/src/main/rust/lib.rs
  vm/src/main/rust/register.rs
  vm/src/meson.build
  vm/src/test/cplusplus/cell.cpp
  vm/src/test/cplusplus/meson.build
  wallet/src/main/cplusplus/meson.build
Due: gcc-test

crypto: ntt
  crypto/src/main/rust/circuit/mod.rs
  crypto/src/main/rust/circuit/numbertheoretictransform.rs
  crypto/src/main/rust/convolution.rs
  crypto/src/main/rust/fermat.rs
  crypto/src/main/rust/lib.rs
  crypto/src/main/rust/lm.rs
  crypto/src/main/rust/numbertheoretictransform.rs
  crypto/src/main/rust/rings.sage
  crypto/src/main/rust/twiddles.rs
Due: none

dependencies: update windows-sys
  Cargo.lock
  Cargo.toml
Due: none

dependencies: update versions-maven-plugin
  pom.xml
Due: openjdk-scan, openjdk-test

crypto: constraint system
  crypto/src/main/rust/circuit/circuitbuilder.rs
  crypto/src/main/rust/constraintsystem.rs
  crypto/src/main/rust/customizableconstraintsystem.rs
  crypto/src/main/rust/lib.rs
  crypto/src/main/rust/r1cs.rs
  crypto/src/test/rust/binaryuniformdistribution.rs
  crypto/src/test/rust/circuitbuilder.rs
  crypto/src/test/rust/customizableconstraintsystem.rs
  crypto/src/test/rust/duplex.rs
  crypto/src/test/rust/eqextension.rs
  crypto/src/test/rust/jive.rs
  crypto/src/test/rust/logicgate.rs
  crypto/src/test/rust/r1cs.rs
  crypto/src/test/rust/univariatepolynomial.rs
Due: none

dependencies: update kotlin
  pom.xml
Due: openjdk-scan, openjdk-test

rust: unpack tuples in function arguments
  crypto/src/main/rust/matrixdense.rs
  crypto/src/main/rust/matrixring.rs
Due: none

crypto: reset distributions
  crypto/src/main/rust/assigner/binaryuniformdistribution.rs
  crypto/src/main/rust/assigner/distribution.rs
  crypto/src/main/rust/assigner/sumcheck.rs
  crypto/src/main/rust/binaryuniformdistribution.rs
  crypto/src/main/rust/circuit/binaryuniformdistribution.rs
  crypto/src/main/rust/circuit/distribution.rs
  crypto/src/main/rust/circuit/sumcheck.rs
  crypto/src/main/rust/distribution.rs
  crypto/src/main/rust/sumcheck.rs
  crypto/src/main/rust/ternaryuniformdistribution.rs
Due: none

crypto: chacha
  crypto/Cargo.toml
  crypto/src/main/rust/chacha.rs
  crypto/src/main/rust/lib.rs
  crypto/src/test/rust/chacha20.rs
Due: none

build: feature std
  .github/workflows/github-ci.yml
  crypto/Cargo.toml
  crypto/src/main/rust/ajtaicommitment.rs
  crypto/src/main/rust/lib.rs
  crypto/src/main/rust/norm.rs
  crypto/src/test/rust/ajtaicommitment.rs
Due: none

dependencies: update maven-surefire-plugin
  pom.xml
Due: openjdk-scan, openjdk-test

dependencies: update ktor
  pom.xml
Due: openjdk-scan, openjdk-test

crypto: fast drg
  crypto/Cargo.toml
  crypto/src/main/rust/chacha.rs
  crypto/src/main/rust/fastdrg.rs
  crypto/src/main/rust/lib.rs
  crypto/src/test/rust/fastdrg.rs
Due: none

crypto: don't require default on distribution
  crypto/src/main/rust/distribution.rs
  crypto/src/main/rust/sumcheck.rs
Due: none

crypto: count leading zeroes
  crypto/src/main/rust/bigint.rs
  crypto/src/main/rust/integer.rs
  crypto/src/test/rust/bigint.rs
Due: none

dependencies: update serde
  Cargo.lock
  Cargo.toml
Due: none

crypto: more integer ops
  crypto/src/main/rust/bigint.rs
  crypto/src/main/rust/integer.rs
  crypto/src/test/rust/bigint.rs
Due: none

crypto: uniform int distribution
  crypto/Cargo.toml
  crypto/src/main/rust/lib.rs
  crypto/src/main/rust/ternaryuniformdistribution.rs
  crypto/src/main/rust/uniformintdistribution.rs
  crypto/src/test/rust/uniformintdistribution.rs
Due: none

crypto: 01 distribution
  crypto/src/main/rust/float.rs
  crypto/src/main/rust/float01distribution.rs
  crypto/src/main/rust/integer.rs
  crypto/src/main/rust/lib.rs
  crypto/src/main/rust/norm.rs
Due: none

crypto: fast rng
  Cargo.lock
  Cargo.toml
  crypto/Cargo.toml
  crypto/src/main/rust/fastrng.rs
  crypto/src/main/rust/lib.rs
  network/Cargo.toml
  network/src/main/rust/i2psam.rs
Due: none

io: add rust
  Cargo.lock
  Cargo.toml
  io/Cargo.toml
  io/src/main/rust/file.rs
  io/src/main/rust/lib.rs
  network/src/main/rust/i2psam.rs
  network/src/main/rust/peertable.rs
  network/src/main/rust/torcontroller.rs
Due: none

remove old stuff
  io/meson.build
  io/src/main/cplusplus/data_input_stream.h
  io/src/main/cplusplus/data_output_stream.h
  io/src/main/cplusplus/file.h
  io/src/main/cplusplus/file_input_stream.h
  io/src/main/cplusplus/file_output_stream.h
  io/src/main/cplusplus/hash_output_stream.h
  io/src/main/cplusplus/input_stream.h
  io/src/main/cplusplus/meson.build
  io/src/main/cplusplus/output_stream.h
  io/src/main/cplusplus/size_output_stream.h
  io/src/main/cplusplus/span_input_stream.h
  io/src/main/cplusplus/span_output_stream.h
  io/src/meson.build
  io/src/test/cplusplus/hash_output_stream.cpp
  io/src/test/cplusplus/meson.build
  io/src/test/cplusplus/size_output_stream.cpp
  io/src/test/cplusplus/span_input_stream.cpp
  io/src/test/cplusplus/span_output_stream.cpp
  io/src/test/cplusplus/test.cpp
  meson.build
  time/meson.build
  time/src/main/cplusplus/meson.build
  time/src/main/cplusplus/milliseconds.h
  time/src/main/cplusplus/systemclock.h
  time/src/meson.build
  time/src/test/cplusplus/meson.build
  time/src/test/cplusplus/milliseconds.cpp
  time/src/test/cplusplus/systemclock.cpp
  time/src/test/cplusplus/test.cpp
Due: gcc-test

compat: fix warnings
  compat/src/main/rust/mode.rs
Due: none

log: re-export
  daemon/src/main/rust/daemon.rs
  log/src/main/rust/lib.rs
  network/src/main/rust/i2psam.rs
  network/src/main/rust/node.rs
  network/src/main/rust/peertable.rs
  network/src/main/rust/router.rs
  network/src/main/rust/torcontroller.rs
Due: none

network: candidate peer
  crypto/src/main/rust/bigint.rs
  crypto/src/main/rust/integer.rs
  crypto/src/main/rust/uniformintdistribution.rs
  network/src/main/rust/peertable.rs
Due: none

dependencies: update guava
  pom.xml
Due: openjdk-scan, openjdk-test

remove old stuff
  codec/meson.build
  codec/src/main/cplusplus/base32.h
  codec/src/main/cplusplus/base64.h
  codec/src/main/cplusplus/meson.build
  codec/src/meson.build
  codec/src/test/cplusplus/base32.cpp
  codec/src/test/cplusplus/base64.cpp
  codec/src/test/cplusplus/meson.build
  codec/src/test/cplusplus/test.cpp
  meson.build
Due: gcc-test

crypto: refactor rings sage
  crypto/src/main/rust/pervushin.rs
  crypto/src/main/rust/rings.sage
  crypto/src/main/rust/twiddles.rs
Due: none

dependencies: update bouncycastle
  pom.xml
Due: openjdk-scan, openjdk-test

rust: deny is_multiple_of
  crypto/src/main/rust/circuit/numbertheoretictransform.rs
  crypto/src/main/rust/numbertheoretictransform.rs
Due: none

crypto: poseidon2
  Cargo.lock
  Cargo.toml
  crypto/Cargo.toml
  crypto/src/benchmark/rust/poseidon2.rs
  crypto/src/main/rust/assigner/mod.rs
  crypto/src/main/rust/assigner/poseidon2.rs
  crypto/src/main/rust/assigner/poseidon2lm.rs
  crypto/src/main/rust/assigner/poseidon2pervushin.rs
  crypto/src/main/rust/circuit/circuitbuilder.rs
  crypto/src/main/rust/circuit/mod.rs
  crypto/src/main/rust/circuit/poseidon2.rs
  crypto/src/main/rust/circuit/poseidon2lm.rs
  crypto/src/main/rust/circuit/poseidon2pervushin.rs
  crypto/src/main/rust/lib.rs
  crypto/src/main/rust/poseidon2.rs
  crypto/src/main/rust/poseidon2lm.rs
  crypto/src/main/rust/poseidon2pervushin.rs
  crypto/src/test/rust/poseidon2.rs
Due: none

Path conditions:
  gcc-test: any of: **/meson*, **/*.h, **/*.cpp
  openjdk-scan: any of: pom.xml, **/pom.xml
  openjdk-test: any of: pom.xml, **/pom.xml, **/*.java, **/*.kt
