Repository recursive-rat4/blacknet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gcc-test, openjdk-scan, openjdk-test

gcc-test:
  image: gcc:14.2.0@sha256:561e2a4b76c441215d26625fbf2d5e345da60ef22b7d46e6ab45d1d53d95c43e
  stage: test
  before_script:
  - apt-get update && apt-get -y install libboost-dev libboost-random-dev libboost-test-dev
  script:
  - cd crypto/src/main/cplusplus
  - make ci-test
  artifacts:
    reports:
      junit:
  ...

openjdk-scan:
  image: maven:3.9.9-eclipse-temurin-21@sha256:5a44dff9390bff393693518d70233977ff245c2876320655a47be5622719becf
  variables:
    MAVEN: mvn --batch-mode --no-transfer-progress
    MAVEN_OPTS: -Dmaven.repo.local=.m2/repository
  cache:
    paths:
    - .m2/repository
  stage: scan
  script:
  ...

openjdk-test:
  image: maven:3.9.9-eclipse-temurin-21@sha256:5a44dff9390bff393693518d70233977ff245c2876320655a47be5622719becf
  variables:
    MAVEN: mvn --batch-mode --no-transfer-progress
    MAVEN_OPTS: -Dmaven.repo.local=.m2/repository
  cache:
    paths:
    - .m2/repository
  stage: test
  script:
  - $MAVEN test
  artifacts:
  ...

crypto: script inertia
  crypto/src/main/cplusplus/rings.sage
Due: none

dependencies: update maven-compiler-plugin
  pom.xml
Due: openjdk-scan, openjdk-test

crypto: refactor interpolation
  crypto/src/main/cplusplus/interpolation.h
  crypto/src/main/cplusplus/sumcheck.h
  crypto/src/test/cplusplus/interpolation.cpp
  crypto/src/test/cplusplus/meson.build
  crypto/src/test/cplusplus/sumcheck.cpp
Due: gcc-test

crypto: refactor convolution
  crypto/src/main/cplusplus/convolution.h
  crypto/src/main/cplusplus/numbertheoretictransform.h
Due: gcc-test

dependencies: update ktor
  pom.xml
Due: openjdk-scan, openjdk-test

dependencies: update slf4j
  pom.xml
Due: openjdk-scan, openjdk-test

crypto: refactor hashing
  crypto/src/main/cplusplus/jive.h
  crypto/src/main/cplusplus/poseidon2.h
  crypto/src/main/cplusplus/poseidon2pervushin.h
  crypto/src/main/cplusplus/sponge.h
  crypto/src/test/cplusplus/jive.cpp
  crypto/src/test/cplusplus/poseidon2.cpp
  crypto/src/test/cplusplus/sponge.cpp
Due: gcc-test

crypto: implement module
  crypto/src/main/cplusplus/module.h
  crypto/src/test/cplusplus/meson.build
  crypto/src/test/cplusplus/module.cpp
Due: gcc-test

cplusplus: optimize use of emplace_back()
  crypto/src/main/cplusplus/ccsbuilder.h
  crypto/src/main/cplusplus/customizableconstraintsystem.h
  crypto/src/main/cplusplus/eqextension.h
  crypto/src/main/cplusplus/matrix.h
  crypto/src/main/cplusplus/matrixsparse.h
  crypto/src/main/cplusplus/multilinearextension.h
  crypto/src/main/cplusplus/univariatepolynomial.h
  crypto/src/main/cplusplus/vector.h
Due: gcc-test

crypto: implement Merkle tree
  crypto/src/main/cplusplus/jive.h
  crypto/src/main/cplusplus/merkletree.h
  crypto/src/test/cplusplus/merkletree.cpp
  crypto/src/test/cplusplus/meson.build
Due: gcc-test

crypto: gadget sponge
  crypto/src/main/cplusplus/module.h
  crypto/src/main/cplusplus/polynomialring.h
  crypto/src/main/cplusplus/sponge.h
  crypto/src/test/cplusplus/sponge.cpp
Due: gcc-test

crypto: gadget hash
  crypto/src/main/cplusplus/jive.h
  crypto/src/test/cplusplus/jive.cpp
Due: gcc-test

crypto: remove old stuff
  benchmarks/pom.xml
  benchmarks/src/main/kotlin/ninja/blacknet/crypto/CommitmentBenchmark.kt
  crypto/pom.xml
  crypto/src/main/java/module-info.java
  crypto/src/main/kotlin/ninja/blacknet/crypto/CustomizableConstraintSystem.kt
  crypto/src/main/kotlin/ninja/blacknet/crypto/EllipticCurveGroup.kt
  crypto/src/main/kotlin/ninja/blacknet/crypto/EllipticCurveGroupElement.kt
  crypto/src/main/kotlin/ninja/blacknet/crypto/EllipticCurveGroupElementAffine.kt
  crypto/src/main/kotlin/ninja/blacknet/crypto/EllipticCurveGroupElementProjective.kt
  crypto/src/main/kotlin/ninja/blacknet/crypto/Matrix.kt
  crypto/src/main/kotlin/ninja/blacknet/crypto/PastaCurves.kt
  crypto/src/main/kotlin/ninja/blacknet/crypto/PedersenCommitment.kt
  crypto/src/main/kotlin/ninja/blacknet/crypto/PrimeField.kt
  crypto/src/main/kotlin/ninja/blacknet/crypto/PrimeFieldElement.kt
  crypto/src/main/kotlin/ninja/blacknet/crypto/Vector.kt
  crypto/src/test/kotlin/ninja/blacknet/crypto/CustomizableConstraintSystemTest.kt
  crypto/src/test/kotlin/ninja/blacknet/crypto/MatrixTest.kt
  crypto/src/test/kotlin/ninja/blacknet/crypto/PastaCurvesTest.kt
  crypto/src/test/kotlin/ninja/blacknet/crypto/PedersenCommitmentTest.kt
  crypto/src/test/kotlin/ninja/blacknet/crypto/VectorTest.kt
  pom.xml
Due: openjdk-scan, openjdk-test

dependencies: update kotlin logging
  pom.xml
Due: openjdk-scan, openjdk-test

crypto: gadget univariate polynomial
  crypto/src/main/cplusplus/univariatepolynomial.h
  crypto/src/test/cplusplus/univariatepolynomial.cpp
Due: gcc-test

benchmark: use ClobberMemory()
  crypto/src/benchmark/cplusplus/ajtaicommitment.cpp
  crypto/src/benchmark/cplusplus/cyclotomicring.cpp
  crypto/src/benchmark/cplusplus/extensionfield.cpp
  crypto/src/benchmark/cplusplus/integerring.cpp
  crypto/src/benchmark/cplusplus/latticefold.cpp
  crypto/src/benchmark/cplusplus/pastacurves.cpp
  crypto/src/benchmark/cplusplus/pedersencommitment.cpp
  crypto/src/benchmark/cplusplus/poseidon2.cpp
  crypto/src/benchmark/cplusplus/primefield.cpp
  crypto/src/benchmark/cplusplus/sumfold.cpp
  meson.build
Due: gcc-test

dependencies: add tbb
  crypto/src/benchmark/cplusplus/meson.build
  crypto/src/main/cplusplus/meson.build
  crypto/src/test/cplusplus/meson.build
  meson.build
  vm/src/main/cplusplus/meson.build
  vm/src/test/cplusplus/meson.build
Due: none

crypto: refactor sparse matrix
  crypto/src/main/cplusplus/matrixsparse.h
Due: gcc-test

crypto: refactor jive circuit
  crypto/src/main/cplusplus/jive.h
  crypto/src/test/cplusplus/jive.cpp
Due: gcc-test

test: extract circuitry
  crypto/src/benchmark/cplusplus/meson.build
  crypto/src/main/cplusplus/customizableconstraintsystem.h
  crypto/src/main/cplusplus/matrix.h
  crypto/src/main/cplusplus/matrixsparse.h
  crypto/src/main/cplusplus/r1cs.h
  crypto/src/main/cplusplus/vector.h
  crypto/src/test/cplusplus/ccsbuilder.cpp
  crypto/src/test/cplusplus/circuitry.h
  crypto/src/test/cplusplus/customizableconstraintsystem.cpp
  crypto/src/test/cplusplus/eqextension.cpp
  crypto/src/test/cplusplus/jive.cpp
  crypto/src/test/cplusplus/meson.build
  crypto/src/test/cplusplus/multilinearextension.cpp
  crypto/src/test/cplusplus/poseidon2.cpp
  crypto/src/test/cplusplus/powextension.cpp
  crypto/src/test/cplusplus/r1cs.cpp
  crypto/src/test/cplusplus/sponge.cpp
  crypto/src/test/cplusplus/univariatepolynomial.cpp
  vm/src/test/cplusplus/meson.build
Due: gcc-test

vm: cell
  crypto/src/main/cplusplus/jive.h
  vm/src/main/cplusplus/cell.h
  vm/src/test/cplusplus/cell.cpp
  vm/src/test/cplusplus/meson.build
Due: gcc-test

ci: refactor cplusplus testing
  .gitlab-ci.yml
  crypto/src/test/cplusplus/meson.build
  meson.options
  vm/src/test/cplusplus/meson.build
Due: none

crypto: check infinity norm
  crypto/src/main/cplusplus/ajtaicommitment.h
  crypto/src/main/cplusplus/integerring.h
  crypto/src/main/cplusplus/matrix.h
  crypto/src/main/cplusplus/polynomialring.h
  crypto/src/main/cplusplus/primefield.h
  crypto/src/main/cplusplus/vector.h
  crypto/src/test/cplusplus/ajtaicommitment.cpp
  crypto/src/test/cplusplus/dilithium.cpp
  crypto/src/test/cplusplus/fermat.cpp
  crypto/src/test/cplusplus/pervushin.cpp
  crypto/src/test/cplusplus/solinas62.cpp
Due: gcc-test

benchmark: fix build
  crypto/src/benchmark/cplusplus/ajtaicommitment.cpp
Due: gcc-test

cplusplus: use std::ranges::all_of
  crypto/src/main/cplusplus/matrix.h
  crypto/src/main/cplusplus/polynomialring.h
  crypto/src/main/cplusplus/vector.h
Due: gcc-test

test: use structured binding declarations
  crypto/src/test/cplusplus/eqextension.cpp
  crypto/src/test/cplusplus/hypercube.cpp
  crypto/src/test/cplusplus/multilinearextension.cpp
  crypto/src/test/cplusplus/powextension.cpp
Due: gcc-test

cplusplus: avoid deprecated implicit copy constructor
  crypto/src/main/cplusplus/bitint.h
  crypto/src/main/cplusplus/hypercube.h
  crypto/src/main/cplusplus/polynomial.h
  crypto/src/main/cplusplus/primefield.h
  crypto/src/main/cplusplus/univariatepolynomial.h
Due: gcc-test

test: increase coverage
  crypto/src/test/cplusplus/dilithium.cpp
  crypto/src/test/cplusplus/fermat.cpp
  crypto/src/test/cplusplus/matrix.cpp
  crypto/src/test/cplusplus/pervushin.cpp
  crypto/src/test/cplusplus/solinas62.cpp
Due: gcc-test

crypto: optimize Solinas62RingDegree2
  crypto/src/main/cplusplus/convolution.h
  crypto/src/main/cplusplus/solinas62field.h
Due: gcc-test

crypto: start fs
  crypto/src/main/cplusplus/fs.h
  crypto/src/main/cplusplus/sponge.h
  crypto/src/test/cplusplus/fs.cpp
  crypto/src/test/cplusplus/meson.build
Due: gcc-test

dependencies: add sqlite
  .gitlab-ci.yml
  meson.build
  wallet/meson.build
  wallet/src/main/cplusplus/meson.build
  wallet/src/meson.build
Due: none

crypto: parallelize Pedersen commitment
  .gitlab-ci.yml
  crypto/src/benchmark/cplusplus/pedersencommitment.cpp
  crypto/src/main/cplusplus/pedersencommitment.h
  meson.build
Due: gcc-test

dependencies: update guava
  pom.xml
Due: openjdk-scan, openjdk-test

java: enable native access
  pom.xml
Due: openjdk-scan, openjdk-test

wallet: connect sqlite
  meson.build
  wallet/src/main/cplusplus/sqlite.h
  wallet/src/test/cplusplus/meson.build
  wallet/src/test/cplusplus/sqlite.cpp
  wallet/src/test/cplusplus/test.cpp
Due: gcc-test

wallet: prepare sqlite
  wallet/src/main/cplusplus/sqlite.h
  wallet/src/test/cplusplus/sqlite.cpp
Due: gcc-test

Path conditions:
  gcc-test: any of: **/Makefile, **/*.h, **/*.cpp
  openjdk-scan: any of: pom.xml, **/pom.xml
  openjdk-test: any of: pom.xml, **/pom.xml, **/*.java, **/*.kt
