Repository recursive-rat4/blacknet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gcc-test, openjdk-scan, openjdk-test

gcc-test:
  image: gcc:14.2.0@sha256:95f598eea2b230fae0bca018c9e31ac1f9dc0599e5e06f2c70671f14449fdcb1
  stage: test
  before_script:
  - echo "deb http://deb.debian.org/debian bookworm-backports main" >> /etc/apt/sources.list
  - apt-get update
  - apt-get -t bookworm-backports -y install meson
  ...

openjdk-scan:
  image: maven:3.9.9-eclipse-temurin-21@sha256:887820a8941cc4e1bf011ec758e50acd8073bfe6046e8d9489e29ed38914e795
  variables:
    MAVEN: mvn --batch-mode --no-transfer-progress
    MAVEN_OPTS: -Dmaven.repo.local=.m2/repository
  cache:
    paths:
    - .m2/repository
  stage: scan
  script:
  ...

openjdk-test:
  image: maven:3.9.9-eclipse-temurin-21@sha256:887820a8941cc4e1bf011ec758e50acd8073bfe6046e8d9489e29ed38914e795
  variables:
    MAVEN: mvn --batch-mode --no-transfer-progress
    MAVEN_OPTS: -Dmaven.repo.local=.m2/repository
  cache:
    paths:
    - .m2/repository
  stage: test
  script:
  - $MAVEN test
  artifacts:
  ...

fix build
  crypto/src/benchmark/cplusplus/pedersencommitment.cpp
Due: gcc-test

dependencies: update kotlin
  kernel/pom.xml
  pom.xml
Due: openjdk-scan, openjdk-test

crypto: circuit latticefold distribution
  crypto/src/main/cplusplus/latticefold.h
  crypto/src/test/cplusplus/latticefold.cpp
Due: gcc-test

crypto: benchmark blacklemon
  crypto/src/benchmark/cplusplus/blacklemon.cpp
  crypto/src/benchmark/cplusplus/meson.build
  crypto/src/main/cplusplus/blacklemon.h
Due: gcc-test

dependencies: update atomicfu
  pom.xml
Due: openjdk-scan, openjdk-test

crypto: extend edwards25519 coordinates
  crypto/src/benchmark/cplusplus/ellipticcurve.cpp
  crypto/src/main/cplusplus/edwards25519.h
  crypto/src/main/cplusplus/twistededwardsgroupextended.h
  crypto/src/main/cplusplus/weierstrassgroupaffine.h
  crypto/src/main/cplusplus/weierstrassgroupjacobian.h
  crypto/src/main/cplusplus/weierstrassgroupprojective.h
  crypto/src/test/cplusplus/edwards25519.cpp
Due: gcc-test

crypto: characterize rings
  crypto/src/main/cplusplus/integerring.h
  crypto/src/main/cplusplus/module.h
  crypto/src/main/cplusplus/polynomialring.h
  crypto/src/main/cplusplus/primefield.h
  crypto/src/main/cplusplus/sponge.h
  crypto/src/test/cplusplus/sponge.cpp
Due: gcc-test

crypto: z/2z
  crypto/src/benchmark/cplusplus/blacklemon.cpp
  crypto/src/main/cplusplus/blacklemon.h
  crypto/src/main/cplusplus/lpr.h
  crypto/src/main/cplusplus/z2.h
  crypto/src/test/cplusplus/blacklemon.cpp
  crypto/src/test/cplusplus/meson.build
  crypto/src/test/cplusplus/z2.cpp
Due: gcc-test

crypto: ternary uniform distribution
  crypto/src/main/cplusplus/bfv.h
  crypto/src/main/cplusplus/binaryuniformdistribution.h
  crypto/src/main/cplusplus/lpr.h
  crypto/src/main/cplusplus/ternaryuniformdistribution.h
  crypto/src/test/cplusplus/binaryuniformdistribution.cpp
  crypto/src/test/cplusplus/meson.build
  crypto/src/test/cplusplus/ternaryuniformdistribution.cpp
Due: gcc-test

dependencies: update kotlin serialization
  pom.xml
Due: openjdk-scan, openjdk-test

crypto: ring stuff
  crypto/src/benchmark/cplusplus/ajtaicommitment.cpp
  crypto/src/benchmark/cplusplus/johnsonlindenstrauss.cpp
  crypto/src/main/cplusplus/ajtaicommitment.h
  crypto/src/main/cplusplus/johnsonlindenstrauss.h
  crypto/src/main/cplusplus/latticefold.h
  crypto/src/main/cplusplus/latticegadget.h
  crypto/src/main/cplusplus/matrixdense.h
  crypto/src/main/cplusplus/matrixring.h
  crypto/src/main/cplusplus/matrixsparse.h
  crypto/src/main/cplusplus/module.h
  crypto/src/main/cplusplus/multilinearextension.h
  crypto/src/main/cplusplus/polynomialring.h
  crypto/src/main/cplusplus/vector.h
  crypto/src/test/cplusplus/circuitbuilder.cpp
  crypto/src/test/cplusplus/customizableconstraintsystem.cpp
  crypto/src/test/cplusplus/johnsonlindenstrauss.cpp
  crypto/src/test/cplusplus/latticefold.cpp
  crypto/src/test/cplusplus/matrixdense.cpp
  crypto/src/test/cplusplus/matrixring.cpp
  crypto/src/test/cplusplus/matrixsparse.cpp
  crypto/src/test/cplusplus/meson.build
  crypto/src/test/cplusplus/multilinearextension.cpp
  crypto/src/test/cplusplus/r1cs.cpp
  crypto/src/test/cplusplus/vector.cpp
Due: gcc-test

crypto: monoid stuff
  crypto/src/main/cplusplus/abeliangroup.h
  crypto/src/main/cplusplus/binaryuniformdistribution.h
  crypto/src/main/cplusplus/convolution.h
  crypto/src/main/cplusplus/customizableconstraintsystem.h
  crypto/src/main/cplusplus/eqextension.h
  crypto/src/main/cplusplus/hypercube.h
  crypto/src/main/cplusplus/integerring.h
  crypto/src/main/cplusplus/latticefold.h
  crypto/src/main/cplusplus/latticegadget.h
  crypto/src/main/cplusplus/logicgate.h
  crypto/src/main/cplusplus/matrixdense.h
  crypto/src/main/cplusplus/matrixring.h
  crypto/src/main/cplusplus/matrixsparse.h
  crypto/src/main/cplusplus/module.h
  crypto/src/main/cplusplus/multilinearextension.h
  crypto/src/main/cplusplus/pedersencommitment.h
  crypto/src/main/cplusplus/polynomialring.h
  crypto/src/main/cplusplus/primefield.h
  crypto/src/main/cplusplus/r1cs.h
  crypto/src/main/cplusplus/ringproduct.h
  crypto/src/main/cplusplus/semigroup.h
  crypto/src/main/cplusplus/twistededwardsgroupaffine.h
  crypto/src/main/cplusplus/twistededwardsgroupextended.h
  crypto/src/main/cplusplus/vector.h
  crypto/src/main/cplusplus/weierstrassgroupaffine.h
  crypto/src/main/cplusplus/weierstrassgroupjacobian.h
  crypto/src/main/cplusplus/weierstrassgroupprojective.h
  crypto/src/main/cplusplus/z2.h
  crypto/src/test/cplusplus/dilithium.cpp
  crypto/src/test/cplusplus/lm62.cpp
  crypto/src/test/cplusplus/pervushin.cpp
  crypto/src/test/cplusplus/ringproduct.cpp
  crypto/src/test/cplusplus/solinas62.cpp
Due: gcc-test

crypto: refactor ntt
  crypto/src/main/cplusplus/dilithium.h
  crypto/src/main/cplusplus/latticefold.h
  crypto/src/main/cplusplus/lm62extension.h
  crypto/src/main/cplusplus/lpr.h
  crypto/src/main/cplusplus/numbertheoretictransform.h
  crypto/src/main/cplusplus/solinas62extension.h
Due: gcc-test

crypto: refactor convolution
  crypto/src/main/cplusplus/convolution.h
  crypto/src/main/cplusplus/lm62extension.h
  crypto/src/main/cplusplus/lpr.h
  crypto/src/main/cplusplus/numbertheoretictransform.h
  crypto/src/main/cplusplus/pervushinextension.h
  crypto/src/main/cplusplus/solinas62extension.h
  crypto/src/test/cplusplus/bfv.cpp
Due: gcc-test

crypto: circuit number-theoretic transform
  crypto/src/main/cplusplus/convolution.h
  crypto/src/main/cplusplus/matrixdense.h
  crypto/src/main/cplusplus/numbertheoretictransform.h
  crypto/src/test/cplusplus/meson.build
  crypto/src/test/cplusplus/numbertheoretictransform.cpp
Due: gcc-test

crypto: binary gcd
  compat/src/meson.build
  crypto/src/main/cplusplus/dilithiumring.h
  crypto/src/main/cplusplus/edwards25519.h
  crypto/src/main/cplusplus/fermat.h
  crypto/src/main/cplusplus/integerring.h
  crypto/src/main/cplusplus/lm62.h
  crypto/src/main/cplusplus/pastacurves.h
  crypto/src/main/cplusplus/pervushin.h
  crypto/src/main/cplusplus/primefield.h
  crypto/src/main/cplusplus/rings.sage
  crypto/src/main/cplusplus/solinas62.h
Due: gcc-test

crypto: circuit Johnson-Lindenstrauss distribution
  crypto/src/main/cplusplus/johnsonlindenstrauss.h
  crypto/src/test/cplusplus/johnsonlindenstrauss.cpp
Due: gcc-test

crypto: rename stuff
  crypto/src/benchmark/cplusplus/extensionfield.cpp
  crypto/src/main/cplusplus/binaryuniformdistribution.h
  crypto/src/main/cplusplus/convolution.h
  crypto/src/main/cplusplus/eqextension.h
  crypto/src/main/cplusplus/jive.h
  crypto/src/main/cplusplus/johnsonlindenstrauss.h
  crypto/src/main/cplusplus/latticefold.h
  crypto/src/main/cplusplus/latticegadget.h
  crypto/src/main/cplusplus/logicgate.h
  crypto/src/main/cplusplus/matrixdense.h
  crypto/src/main/cplusplus/multilinearextension.h
  crypto/src/main/cplusplus/numbertheoretictransform.h
  crypto/src/main/cplusplus/poseidon2.h
  crypto/src/main/cplusplus/powextension.h
  crypto/src/main/cplusplus/sponge.h
  crypto/src/main/cplusplus/sumcheck.h
  crypto/src/main/cplusplus/univariatepolynomial.h
  crypto/src/main/cplusplus/vector.h
  crypto/src/test/cplusplus/binaryuniformdistribution.cpp
  crypto/src/test/cplusplus/eqextension.cpp
  crypto/src/test/cplusplus/jive.cpp
  crypto/src/test/cplusplus/johnsonlindenstrauss.cpp
  crypto/src/test/cplusplus/latticefold.cpp
  crypto/src/test/cplusplus/latticegadget.cpp
  crypto/src/test/cplusplus/logicgate.cpp
  crypto/src/test/cplusplus/matrixdense.cpp
  crypto/src/test/cplusplus/multilinearextension.cpp
  crypto/src/test/cplusplus/numbertheoretictransform.cpp
  crypto/src/test/cplusplus/poseidon2.cpp
  crypto/src/test/cplusplus/powextension.cpp
  crypto/src/test/cplusplus/sponge.cpp
  crypto/src/test/cplusplus/sumcheck.cpp
  crypto/src/test/cplusplus/univariatepolynomial.cpp
  crypto/src/test/cplusplus/vector.cpp
  vm/src/main/cplusplus/cell.h
  vm/src/test/cplusplus/cell.cpp
Due: gcc-test

crypto: trace matrix
  crypto/src/main/cplusplus/matrixdense.h
  crypto/src/main/cplusplus/matrixring.h
  crypto/src/test/cplusplus/matrixdense.cpp
  crypto/src/test/cplusplus/matrixring.cpp
Due: gcc-test

dependencies: update maven-enforcer-plugin
  pom.xml
Due: openjdk-scan, openjdk-test

ci: update image
  .gitlab-ci.yml
Due: none

crypto: refactor groups
  crypto/src/main/cplusplus/twistededwardsgroupaffine.h
  crypto/src/main/cplusplus/twistededwardsgroupextended.h
  crypto/src/main/cplusplus/weierstrassgroupaffine.h
  crypto/src/main/cplusplus/weierstrassgroupjacobian.h
  crypto/src/main/cplusplus/weierstrassgroupprojective.h
  crypto/src/test/cplusplus/edwards25519.cpp
  crypto/src/test/cplusplus/pastacurves.cpp
Due: gcc-test

crypto: optimize ccs
  crypto/src/main/cplusplus/customizableconstraintsystem.h
Due: gcc-test

crypto: refactor convolution
  crypto/src/main/cplusplus/convolution.h
  crypto/src/main/cplusplus/dilithium.h
  crypto/src/main/cplusplus/lm62extension.h
  crypto/src/main/cplusplus/lpr.h
  crypto/src/main/cplusplus/numbertheoretictransform.h
  crypto/src/main/cplusplus/pervushinextension.h
  crypto/src/main/cplusplus/solinas62extension.h
  crypto/src/test/cplusplus/bfv.cpp
  crypto/src/test/cplusplus/numbertheoretictransform.cpp
Due: gcc-test

crypto: circuit polynomial ring
  crypto/src/main/cplusplus/polynomialring.h
  crypto/src/test/cplusplus/meson.build
  crypto/src/test/cplusplus/numbertheoretictransform.cpp
  crypto/src/test/cplusplus/polynomialring.cpp
Due: gcc-test

crypto: split polynomial ring
  crypto/src/main/cplusplus/dilithium.h
  crypto/src/main/cplusplus/latticefold.h
  crypto/src/main/cplusplus/lm62extension.h
  crypto/src/main/cplusplus/lpr.h
  crypto/src/main/cplusplus/pervushinextension.h
  crypto/src/main/cplusplus/polynomialringntt.h
  crypto/src/main/cplusplus/solinas62extension.h
  crypto/src/test/cplusplus/latticefold.cpp
  crypto/src/test/cplusplus/polynomialring.cpp
Due: gcc-test

crypto: refactor circuitry
  crypto/src/main/cplusplus/binaryuniformdistribution.h
  crypto/src/main/cplusplus/circuitbuilder.h
  crypto/src/main/cplusplus/convolution.h
  crypto/src/main/cplusplus/eqextension.h
  crypto/src/main/cplusplus/jive.h
  crypto/src/main/cplusplus/johnsonlindenstrauss.h
  crypto/src/main/cplusplus/latticefold.h
  crypto/src/main/cplusplus/latticegadget.h
  crypto/src/main/cplusplus/logicgate.h
  crypto/src/main/cplusplus/matrixdense.h
  crypto/src/main/cplusplus/multilinearextension.h
  crypto/src/main/cplusplus/numbertheoretictransform.h
  crypto/src/main/cplusplus/point.h
  crypto/src/main/cplusplus/polynomialring.h
  crypto/src/main/cplusplus/polynomialringntt.h
  crypto/src/main/cplusplus/poseidon2.h
  crypto/src/main/cplusplus/powextension.h
  crypto/src/main/cplusplus/sponge.h
  crypto/src/main/cplusplus/sumcheck.h
  crypto/src/main/cplusplus/univariatepolynomial.h
  crypto/src/main/cplusplus/vectordense.h
  crypto/src/test/cplusplus/binaryuniformdistribution.cpp
  crypto/src/test/cplusplus/eqextension.cpp
  crypto/src/test/cplusplus/jive.cpp
  crypto/src/test/cplusplus/johnsonlindenstrauss.cpp
  crypto/src/test/cplusplus/latticefold.cpp
  crypto/src/test/cplusplus/latticegadget.cpp
  crypto/src/test/cplusplus/logicgate.cpp
  crypto/src/test/cplusplus/matrixdense.cpp
  crypto/src/test/cplusplus/multilinearextension.cpp
  crypto/src/test/cplusplus/polynomialring.cpp
  crypto/src/test/cplusplus/poseidon2.cpp
  crypto/src/test/cplusplus/powextension.cpp
  crypto/src/test/cplusplus/sponge.cpp
  crypto/src/test/cplusplus/sumcheck.cpp
  crypto/src/test/cplusplus/univariatepolynomial.cpp
  crypto/src/test/cplusplus/vectordense.cpp
  vm/src/main/cplusplus/cell.h
  vm/src/test/cplusplus/cell.cpp
Due: gcc-test

crypto: sample latticefold challenge
  crypto/src/main/cplusplus/convolution.h
  crypto/src/main/cplusplus/dilithium.h
  crypto/src/main/cplusplus/latticefold.h
  crypto/src/main/cplusplus/lm62extension.h
  crypto/src/main/cplusplus/lpr.h
  crypto/src/main/cplusplus/numbertheoretictransform.h
  crypto/src/main/cplusplus/polynomialring.h
  crypto/src/main/cplusplus/polynomialringntt.h
  crypto/src/main/cplusplus/solinas62extension.h
  crypto/src/test/cplusplus/latticefold.cpp
Due: gcc-test

dependencies: update ktor
  pom.xml
Due: openjdk-scan, openjdk-test

build: add rust
  .gitignore
  Cargo.lock
  Cargo.toml
  crypto/Cargo.toml
  crypto/src/main/rust/bigint.rs
  crypto/src/main/rust/lib.rs
  crypto/src/test/rust/bigint.rs
  lgpl-3.0.txt
Due: none

serialization: add rust
  Cargo.lock
  Cargo.toml
  serialization/Cargo.toml
  serialization/src/main/rust/decoder.rs
  serialization/src/main/rust/deserializer.rs
  serialization/src/main/rust/encoder.rs
  serialization/src/main/rust/error.rs
  serialization/src/main/rust/format.rs
  serialization/src/main/rust/lib.rs
  serialization/src/main/rust/reader.rs
  serialization/src/main/rust/serializer.rs
  serialization/src/main/rust/sizer.rs
  serialization/src/main/rust/writer.rs
  serialization/src/test/rust/bbf.rs
Due: none

crypto: magma
  crypto/src/main/rust/magma.rs
Due: none

crypto: semigroup
  crypto/src/main/rust/lib.rs
  crypto/src/main/rust/semigroup.rs
Due: none

crypto: monoid
  crypto/src/main/rust/monoid.rs
Due: none

crypto: group
  crypto/src/main/rust/group.rs
Due: none

crypto: abelian group
  crypto/src/main/rust/abeliangroup.rs
  crypto/src/main/rust/lib.rs
Due: none

crypto: ring
  crypto/src/main/rust/lib.rs
  crypto/src/main/rust/ring.rs
Due: none

Path conditions:
  gcc-test: any of: **/meson*, **/*.h, **/*.cpp
  openjdk-scan: any of: pom.xml, **/pom.xml
  openjdk-test: any of: pom.xml, **/pom.xml, **/*.java, **/*.kt
